/* stylesheet for mobile app */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,il,header,footer,nav{
    margin:0;
    padding:0;
}

/* Universal Style */
body{
    background-color: white;
    margin: 
}

div#container{
    width:100%;
    background-color:white;
}

header img#applogo{
    display: block;
    margin: auto;
    width: 200px;
    
    
}

input#filterInput{
   display: block;
    margin: auto;
    text-align: center;
    width: 40%;
    height: 100%;
    background-color: white;
    
}

div#content
{
    float: left;
    width: 100%;
    margin: auto;
    display: block;
}

div#content h4
{
    text-align: center;
    margin: 15px 0;
}

div#content h3
{
    text-align: center;
    font-size: 150%;
    margin: 10px 0;
}

div#content p
{
    text-align: center;
}

div#body
{
    background-color:#ffe3fe;
    margin: auto;
    display: block;
}

div#body h3
{
    text-align: center;
    color: black;
    font-family: "montserrat";
    
}

canvas#canvas{
    display: block;
    margin: auto;
    width: 20%;
}

header{
    text-align: center;
    width:100%;
/*    padding: 50px;*/
    background-color:#ffffff;
    
    
}

header h1
{
    color:#db1ea8;
    margin: 15px auto;
    font-family:"Montserrat", sans-serif;
    font-size:3.5em;
        
}
div.products{
    width: 100%;
}

div#content{
    width:100%;
    background-color: #ffa1d0;
    padding:15px 0;
}

ul#products{
    width: 100%;
    background-color: #fff7fb;
    
}

ul#products li{
    color: gray;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding: 15px 0;
    text-align: center;
}

ul li#Section{
    color: #be126f;
    text-align: center;
    font-size: 30px;
}
/*
nav{
    width:100%;
    background-color: #dcd7fa;
}
nav ul{
    display:block;
    margin:auto;
    color: #018181;
    font-family:"Montserrat", sans-serif;
    font-size: 1.1em;
    list-style: none;
}
nav ul li{
    float:left;
    padding: 5px 25px;
}

nav ul li a{
    float:;
    display:block;
    padding: 5px 15px;
    border-right: 1px solid #513aff;
    color: cornflowerblue;
    text-decoration: none;
}

nav ul li:hover{
    background-color: antiquewhite;
    color:darkslategray;
}
*/
.icon-bar {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: #888888;
    overflow: auto;
}

.icon-bar a {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #ffa1d0;
}

.active {
    background-color: #ffc9e9;
}

div#product_grp{
    max-width: 100%;
    max-width: 20%;
    margin: auto;
}

figure.product{
    float: left;
    margin: 10px;
    min-width: 30%;
    min-width: 50%;
    background-color: pink;
    border-radius: 5%;
}

figure.product img{
    display: block;
    padding: 10px 0;
    width: 80%;
    margin: auto;
}

figure.product figcaption{
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 20px;
}

div.keepOpen{
    clear:both;
}

 legend, span, input, textarea {
		display:block;
		margin:auto;
		text-align:center;
		font-family:fantasy;
         font-size: 18px;
		color:#aa0055;
}

@media screen and (max-width: 1200px) {
	figure.product{
		float:none;
		margin:10px auto;
		min-width:50%;
		max-width:100%;
		background-color: pink;
		border-radius:5%;
	}

	 legend, span, input, textarea {
		display:block;
		margin:auto;
		text-align:center;
		font-family:fantasy;
         font-size: 18px;
		color:#aa0055;
}

/*
footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color: #a280b2;
}

div.keepopen{
    clear:both;
}

@media screen and (max-width: 600px){
    div#container{
    width:100%;
}
nav ul li a
{
    float: none;
    text-align: center;
    }
}
*/